<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <!-- Product version which must be incremented for each release. -->
    <?define ProductVersion = 1.1.0.0?>

    <!-- Platform magic trick from https://stackoverflow.com/questions/18628790/build-wix-3-6-project-targeting-x64. -->
    <!-- https://stackoverflow.com/questions/18628790/build-wix-3-6-project-targeting-x64 -->
    <?if $(var.Platform) = x64 ?>
        <?define PlatformProgrammeFilesFolder = "ProgramFiles64Folder" ?>
        <?define Win64 = "yes" ?>
    <?else?>
        <?define PlatformProgrammeFilesFolder = "ProgramFilesFolder" ?>
        <?define Win64 = "no" ?>
    <?endif?>

    <Package Name="!(loc.ProductName)" Language="!(loc.LanguageCode)" Version="$(var.ProductVersion)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="62423a1b-13dd-4a48-b643-efaba89f978d" InstallerVersion="301">

        <!-- Package details -->
        <SummaryInformation Manufacturer="!(loc.ManufacturerName)" Description="!(loc.ProductDescription)" />

        <!-- Downgrade error message -->
        <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

        <!-- Package CAB into MSI -->
        <MediaTemplate EmbedCab="yes" />

        <!-- User interface -->
        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)licence.rtf" />
        <ui:WixUI Id="WixUI_FeatureTree" />

        <!-- Features to be installed -->
        <Feature Id="ProductFeature" Title="!(loc.ProductName)" Display="expand" Level="1" AllowAbsent="no">
            <ComponentGroupRef Id="CmpOxrSwitcher" />
            <Feature Id="AclFeature" Title="!(loc.AclFeature)" Level="1" />
        </Feature>

        <InstallExecuteSequence>
            <Custom Action="FixAcls" Before="InstallFinalize" Condition="NOT Installed AND &amp;AclFeature = 3" />
            <Custom Action="RestoreAcls" Before="RemoveFiles" Condition="Installed" />
        </InstallExecuteSequence>

        <Feature Id="VisualCppRuntime" Title="!(loc.VisualCppRuntime)" AllowAdvertise="no" Display="hidden" Level="1">
            <!--<MergeRef Id="VisualCppRuntime"/>-->
        </Feature>
    </Package>

    <Fragment>
            <Directory Id="$(var.PlatformProgrammeFilesFolder)">
                <Directory Id="VisusProgrammeFolder" Name="VISUS">
                    <Directory Id="OxrSwitchProgrammeFolder" Name="OpenXR Switcher" />
                </Directory>
            </Directory>

            <StandardDirectory Id="ProgramMenuFolder"></StandardDirectory>
        </Fragment>

    <Fragment>
        <!-- Deploys the executable -->
        <ComponentGroup Id="CmpOxrSwitcher" Directory="OxrSwitchProgrammeFolder">
            <Component Id="OxrSwitchApp" Guid="{0563570E-D464-4E77-B41C-51A59847F40D}">
                <File Id="$(var.oxrswitch.TargetFileName)" KeyPath="yes" Source="$(var.oxrswitch.TargetPath)">
                    <Shortcut Id="OxrSwitchShortcut" Directory="ProgramMenuFolder" Name="!(loc.MenuLink)" WorkingDirectory="OxrSwitchProgrammeFolder" Icon="$(var.oxrswitch.TargetFileName)" IconIndex="0" Advertise="yes" />
                </File>
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <Icon Id="$(var.oxrswitch.TargetFileName)" SourceFile="$(var.oxrswitch.TargetPath)" />
    </Fragment>

    <Fragment>
        <CustomAction Id="FixAcls" ExeCommand="/fixacls" Execute="commit" Impersonate="no" Return="check" FileRef="$(var.oxrswitch.TargetFileName)" />
        <CustomAction Id="RestoreAcls" ExeCommand="/unfixacls" Execute="deferred" Impersonate="no" Return="ignore" FileRef="$(var.oxrswitch.TargetFileName)" />
    </Fragment>

    <!--
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VisualCppRuntime" SourceFile="$(var.ProjectDir)Microsoft_VC142_CRT_x64.msm" DiskId="1" Language="0"/>
        </DirectoryRef>
    </Fragment>
    -->
</Wix>
